<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Dashboard</h1>

        <div class="card">
            <a href="/admin/projects">Projects</a>
            <a href="/admin/certifications">Certifications</a>
            <a href="/admin/settings">Settings</a>
            <a href="/admin/visitors">Visitors</a>
            <a href="/admin/logout">Logout</a>
        </div>
    </div>
</body>

</html>