*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins, sans-serif}

body{
  background:#0f172a;
  color:#e2e8f0;
  padding:20px;
}

h1,h2{margin:20px 0;color:#fff}

a{color:#60a5fa;text-decoration:none;margin-right:15px}
a:hover{color:#fff}

.container{max-width:1100px;margin:auto}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
  box-shadow:0 8px 25px rgba(0,0,0,.3)
}

form{display:grid;gap:10px;margin-bottom:20px}

input,textarea{
  padding:10px;
  border-radius:8px;
  border:none;
  background:#334155;
  color:#fff
}

button{
  padding:10px;
  border:none;
  border-radius:8px;
  background:#6366f1;
  color:#fff;
  cursor:pointer
}
button:hover{background:#4f46e5}

img{border-radius:10px;margin:5px 0}

table{
  width:100%;
  border-collapse:collapse;
  background:#1e293b;
  border-radius:12px;
  overflow:hidden
}
th,td{
  padding:10px;
  border-bottom:1px solid #334155
}
th{background:#020617}

.tech-badge{
  background:#6366f1;
  padding:3px 8px;
  border-radius:6px;
  font-size:12px;
  margin:2px;
  display:inline-block
}

.login-box{
  max-width:350px;
  margin:120px auto;
  background:#1e293b;
  padding:30px;
  border-radius:12px;
  text-align:center
}
